torch
torchvision
clip @ git+https://github.com/openai/CLIP.git
Cython
numpy
coloredlogs
ffmpeg_python
ftfy
matplotlib
midi2audio
MIDIUtil
moviepy
music21
opencv_python
pandas
Pillow
pretty_midi
pydub
regex
scenedetect
scikit_learn
scipy
gradio
pytube
pyfluidsynth
protobuf 
librosa 
tensorboard 
blosc2~=2.0.0
FuzzyTM
midi2audio